.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
  }
  
  .col-50 {
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
  }
  
  .col-75 {
    -ms-flex: 55%; /* IE10 */
    flex: 55%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-image: url(https://static.vecteezy.com/system/resources/previews/023/639/130/non_2x/molecular-structure-with-hospital-cross-for-medical-chemistry-and-science-concept-background-illustration-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(147, 212, 104);
    border-radius: 3px;
  }
  
  

  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #1b18b0;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
    color: azure;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #0be1d2dc;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #0a35c3;
  }
  
  span.price {
    float: right;
    color: rgb(192, 55, 55);
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }