@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body { 
	font-family: 'Poppins', sans-serif; 
	margin: 0; 
	padding: 0; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	min-height: 100vh; 
	background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210716/pngtree-heartbeat-electrocardiogram-biochemistry-aerobic-health-care-light-effect-abstract-geometric-health-image_743372.jpg);
	background-repeat: no-repeat;
	background-size: cover;

} 

.ffbox { 
	display: flex; 
	width: 30%; 
	max-width: 800px; 
	background-color: #fff; 
	border: 9px solid #060693; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
	overflow: hidden; 
	border-radius: 70px; 
	flex-wrap: wrap; 
} 

.ffbox1 { 
	flex: 1; 
	padding: 20px; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 

.ffbox1 label { 
	display: block; 
	margin-bottom: 8px; 
} 

.ffbox1 input, 
.ffbox1 textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 16px; 
	box-sizing: border-box; 
	border-radius: 15px; 
	background-color: #dcdce1; 
	border: none; 
} 

.ffbox1 textarea { 
	resize: vertical; 
} 

.ffbox1 { 
	margin-bottom: 6px; 
} 

.ffbox1 label { 
	margin-right: 6px; 
} 

.map-div { 
	flex: 1; 
	background-color: #eee; 
} 

button { 
	width: 100%; 
	padding: 10px; 
	margin-bottom: 16px; 
	box-sizing: border-box; 
	border-radius: 15px; 
	background-color: rgb(40, 7, 188); 
	color: rgb(183, 213, 179); 
	font-size: 17px; 
	font-weight: 700; 
	border: #a2c2ee; 
} 

button:hover { 
	background-color: rgb(21, 137, 213); 
} 

.map-div iframe { 
	border: 0; 
	padding: 10px; 
} 

.gfg { 
	text-align: center; 
	color: green; 
} 

.map-div { 
	background-color: rgb(152, 178, 234); 
}
